html {
    scrollbar-width: none;
    -ms-overflow-style: none
}

.equipment-item-content {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 10px;
    padding: 10px 0;
    box-sizing: border-box
}

.equipment-item-content input {
    appearance: none;
    display: inline-block;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: .4rem;
    transition: color .2s, border .2s, background-color .2s, opacity .2s !important;
    cursor: pointer;
    color: #fff;
    background-color: #333;
    border-width: 0
}

.equipment-item-content input:hover {
    background-color: rgba(51, 51, 51, .8)
}

.equipment-item-content-item {
    border-radius: 12px;
    border: 1px solid #000;
    overflow: hidden;
    background: #fff;
    min-height: 400px;
    position: relative
}

@media screen and (max-width: 768px) {
    .equipment-item-content {
        grid-template-columns:repeat(1, 1fr)
    }

    .equipment-item-content-item {
        width: 100%
    }
}

.equipment-item-content-item-info {
    padding: 8px 16px 16px;
    margin-top: 12px
}

.equipment-item-content-item-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    width: fit-content
}

.equipment-item-content-item-name:hover {
    color: #425aef
}

.equipment-item-content-item-specification {
    font-size: 12px;
    color: rgba(60, 60, 67, .8);
    line-height: 1;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.equipment-item-content-item-description {
    line-height: 20px;
    color: rgba(60, 60, 67, .8);
    height: 60px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px
}

a.equipment-item-content-item-link {
    font-size: 12px;
    background: hsla(0, 0%, 60%, .17);
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer
}

a.equipment-item-content-item-link:hover {
    background: #425aef;
    color: #fff
}

h2.equipment-item-title {
    line-height: 1
}

.equipment-item-description {
    line-height: 1;
    margin: 4px 0 8px;
    color: rgba(60, 60, 67, .8)
}

.equipment-item-content-item-cover {
    width: 100%;
    height: 200px;
    background: #f7f7f9;
    display: flex;
    justify-content: center
}

img.equipment-item-content-item-image {
    object-fit: cover;
    height: 100%
}

div#equipment {
    margin-top: 26px
}

.equipment-item-content-item-toolbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    padding: 0 16px
}

a.bber-reply {
    cursor: pointer
}

.posts {
    display: flex;
    align-items: flex-start;
    gap: 10px
}

.post-cover {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 4px;
    flex-shrink: 0
}

.post-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit
}

.post {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.time {
    font-size: .875rem;
    color: #666;
    margin-bottom: 8px
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-weight: 400
}

h1 {
    font-size: 1.5rem
}

h2 {
    font-size: 1.375rem
}

h3 {
    font-size: 1.25rem
}

h4, h5, h6 {
    font-size: 1.125rem
}

.archives-content h2:first-of-type, .cate-content h2:first-of-type, .moment-content h2, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    position: relative;
    text-transform: none;
    letter-spacing: normal;
    display: block;
    margin: 10px 0
}

.archives-content h2:first-of-type:before, .cate-content h2:first-of-type:before, .moment-content h2:before, .post-content h2:before {
    content: "#";
    color: #2bbc8a;
    position: absolute;
    left: -1rem;
    font-size: 1.2rem;
    font-weight: 700
}

.post-content h3:before, .post-content h4:before, .post-content h5:before, .post-content h6:before {
    content: "#";
    color: #2bbc8a;
    position: absolute;
    left: -1rem;
    font-weight: 500
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px
}

.header h2 {
    padding: 0;
    font-size: 1.6rem;
    margin: 0 0 10px;
    font-size: .9rem;
    line-height: 2rem
}

.header nav {
    border-top: 1px solid #f4f4f4
}

.header nav li, .header nav ul {
    margin: 0
}

.header nav ul.flat {
    padding: 0
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 20px;
    text-transform: capitalize
}

.header nav ul.flat li.active a {
    color: #24292e
}

.header .site-description nav ul a {
    display: inline-block;
    margin-right: 5px;
    text-decoration: none
}

.header .site-description {
    display: flex;
    justify-content: space-between
}

.header .site-description nav {
    padding: 0;
    border: none;
    min-width: 50px;
    margin: 0 0 10px
}

.header nav ul.flat li a {
    color: #586069
}

.header nav ul.flat li a:hover {
    color: #646464;
    text-decoration: none
}

.recent-posts .posts .post {
    margin-bottom: 15px
}

.list .posts .post .time, .post .post-header .time, .recent-posts .posts .post .time {
    font-size: .725rem;
    color: #bec8d2;
    margin-bottom: 2px
}

.meta {
    margin-top: 10px;
    font-size: 12px;
    color: #999;
    margin-bottom: 2px
}

a:not(.a-tag), a:not(.btn):hover {
    color: #24292e;
    text-decoration: none
}

a:not(.a-tag):hover {
    text-decoration: underline
}

.color-like {
    color: red
}

.post-top {
    color: #f44336
}

blockquote {
    border-radius: 4px;
    background: #f5f5f5;
    color: #000;
    border-left: 0 solid #ccc;
    margin: 1rem 0;
    padding: .7em 0;
    quotes: "\201C" "\201D" "\2018" "\2019";
    transition: all .15s ease-out
}

blockquote p {
    margin: 0;
    padding: 0 15px;
    border: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;
    color: inherit;
    line-height: normal;
    text-align: inherit;
    display: inline-block
}

blockquote:before {
    color: #2bbc8a;
    content: "\201C";
    font-size: 2em;
    line-height: .1em;
    vertical-align: -.4em
}

blockquote:hover {
    transform: scale(1.05)
}

a img {
    border: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    word-break: break-all;
    width: 100%
}

table th {
    background-color: #f6f8fa
}

table td, table th {
    padding: 10px 20px;
    border: 1px solid #dfe2e5;
    text-align: center
}

body {
    color: #24292e;
    line-height: 1.6;
    font-size: 16px
}

hr {
    display: block;
    height: 1px;
    border: none;
    border-top: .1em dashed #2196f3;
    margin: 1rem 0;
    padding: 0
}

.post-content li {
    margin-left: 20px
}

.post-content img:not(.link-img):not(.equipment-item-content img) {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    vertical-align: middle
}

.post-content ol, li, ul {
    margin: 0;
    padding: 0
}

.vditor-task {
    margin-left: 0 !important;
    list-style-type: none !important
}

.post-content ol:not(.toc-list) li:not(.category) a, .post-content p a, .post-content ul li:not(.category) a {
    color: #2196f3
}

.post-content p a:hover, ul li code {
    color: #2196f3;
    text-decoration: underline
}

.post-content .vditor-task--done input[type=checkbox] {
    background-color: #2196f3 !important
}

ul li code:before {
    content: "["
}

ul li code:after {
    content: "]"
}

p code, table code {
    color: #2196f3
}

p code:before, table code:before {
    content: "["
}

p code:after, table code:after {
    content: "]"
}

.archives-year-title {
    font-size: 24px;
    word-wrap: break-word;
    line-height: 1.4;
    box-shadow: inset 0 -7px 0 0 rgb(52 58 64/10%);
    display: inline
}

.main {
    max-width: 630px;
    overflow: hidden;
    margin: 60px auto;
    padding: 50px;
    background: #fff;
    box-shadow: 0 10px 20px 0 hsla(0, 0%, 92.5%, .86);
    border-radius: 8px
}

.section .section-header {
    font-size: .88rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.footer {
    text-align: right;
    font-size: .75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    padding-top: 20px;
    margin-top: 20px
}

.link-box {
    display: flex;
    align-items: center;
    width: 200px;
    height: 70px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: relative
}

.link-img-box {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 4px
}

.link-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit
}

.link-img-a {
    display: block;
    position: absolute;
    top: 0;
    left: 65px;
    width: calc(100% - 65px);
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit
}

.link-img-a p:first-child {
    font-weight: 700;
    margin-bottom: 5px
}

.link-img-a p:last-child {
    color: #666;
    font-size: .75em
}

.links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px
}

.links p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .8em;
    white-space: nowrap
}

.a-archives {
    display: inline-block;
    font-size: 14px
}

.archives-item-content {
    margin-bottom: 20px
}

.archives-item-title {
    text-decoration: #324b64
}

.articles_date_time {
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    background-color: rgba(52, 58, 64, .1);
    color: #324b64;
    margin-right: 5px
}

.archives-item-content li {
    list-style-type: none;
    margin-left: 0
}

.box-search {
    height: 1.1rem;
    vertical-align: sub
}

.ico-right {
    float: right
}

.index-pagination {
    margin: 0;
    padding: 10px 0 0;
    text-align: left;
    display: flex;
    justify-content: space-between
}

.index-pagination li {
    list-style-type: none
}

a.to_top {
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    background: #f0f0f0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: #f0f0f0;
    transition-property: #f0f0f0;
    display: none
}

a.to_top span {
    color: #888
}

a.to_top:hover {
    cursor: pointer;
    background: #dfdfdf;
    text-decoration: none
}

a.to_top:hover span {
    color: #555
}

.uk-animation-fade {
    animation-name: uk-fade;
    animation-duration: .4s;
    animation-timing-function: linear
}

.directory-content {
    position: relative;
    z-index: 0;
    max-width: 720px;
    margin-right: auto !important;
    margin-left: auto !important;
    text-align: right
}

.directory-content.initial {
    opacity: 0
}

.directory-content.pinned, .directory-content.unpinned {
    opacity: 1
}

.directory-content.headroom--top {
    opacity: 0
}

.directory-content.headroom--not-top {
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 1
}

.directory-content .toc {
    margin-left: 65px;
    position: fixed;
    z-index: 0;
    top: 100px;
    display: inline-block;
    text-align: left
}

pre[class*=language-].line-numbers {
    border-radius: 4px
}

.directory-content .toc a:hover {
    color: #2196f3
}

.directory-content .toc > .toc-list {
    overflow: hidden;
    position: relative
}

.directory-content .toc > .toc-list li {
    list-style: none;
    margin: 3px 5px
}

.directory-content .js-toc {
    overflow-y: hidden
}

.directory-content .toc-list {
    margin: 0;
    padding-left: 10px
}

.directory-content a.toc-link {
    color: currentColor;
    height: 100%
}

.directory-content .is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all .3s ease-in-out
}

.directory-content .is-collapsed {
    max-height: 0
}

.directory-content .is-position-fixed {
    position: fixed !important;
    top: 0
}

.directory-content .is-active-link {
    font-weight: 700
}

.directory-content .toc-link:before {
    background-color: #eee;
    content: " ";
    display: inline-block;
    height: inherit;
    left: 0;
    margin-top: -1px;
    position: absolute;
    width: 2px
}

.directory-content .is-active-link:before {
    background-color: #2196f3
}

.avatar-user {
    width: 32px !important;
    height: 32px !important;
    size: 400px !important
}

ul.moment-box li.com-hr:not(:first-child) {
    display: block;
    border-top: 1px solid #f4f4f4
}

.com-hr {
    padding: 20px 0
}

.iconify {
    text-align: center
}

.iconify, .moment-spec-time, .moment-user-name {
    font-size: 1rem;
    vertical-align: middle
}

.moment-spec-time {
    float: right;
    text-align: right;
}

.operation a:hover {
    text-decoration: none !important
}

.moment-content ul {
    margin: 0;
    padding: 0
}

.moment-content ul li {
    list-style-type: none
}

.user-header img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    vertical-align: middle
}

.comment-p {
    font-size: 22px;
    position: relative
}

.comment-p:before {
    position: absolute;
    content: "#";
    color: #2bbc8a;
    left: -1rem;
    font-size: 1.2rem;
    font-weight: 700
}

.tag {
    margin-right: 5px;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #e1f5fe;
    color: #25bbff !important;
    text-decoration: none
}

.cate-content li {
    list-style-type: none
}

.photo-img-box {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 10px;
    padding: 10px 0;
    box-sizing: border-box
}

.p-in-box {
    position: relative;
    width: 100%;
    padding-top: 100%;
    box-sizing: border-box
}

.p-in-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px
}

.halo-render-wrapper {
    margin: 16px 0 !important
}

::-webkit-scrollbar {
    width: 5px
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 5px
}

::selection {
    background: #444;
    color: #fff
}

@media (max-width: 1440px) {
    .directory-content {
        display: none
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.375rem
    }

    h2 {
        font-size: 1.25rem
    }

    h3 {
        font-size: 1.125rem
    }

    h4, h5, h6 {
        font-size: 1rem
    }

    body {
        background: #fff
    }

    .main {
        padding: 30px;
        margin: 0 auto;
        box-shadow: none
    }

    .header h2 {
        display: none
    }

    .container {
        margin-top: 10px
    }

    .highlight pre::-webkit-scrollbar {
        display: none
    }

    .directory-content {
        display: none
    }
}

@keyframes uk-fade {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
