<footer>
<a id="to_top" href="#" class="to_top" style="display: block;"><i class="ri-arrow-up-line"></i></a> 
<div class="footer">
<nav class="nav">© [[${theme.config.footer_card.footer_time}]] - <span id="currentYear"></span> <a th:href="${theme.config.footer_card.footer_copyright_url}" target="_blank"><span th:text="${theme.config.footer_card.footer_copyright_name}"></span></a><br>
Powered by <a href="https://www.halo.run/">Halo</a> Theme by <a href="https://skylan.cc">Ying</a><br></nav>
<a href="https://beian.miit.gov.cn/" target="_blank"><span th:text="${theme.config.footer_card.footer_icp}"></span></a><br>
<a href="https://beian.mps.gov.cn/#/query/webSearch" target="_blank"><span th:text="${theme.config.footer_card.footer_ga}"></span></a></div>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/smooth.min.js' : '/themes/theme-Ying/assets/js/smooth.min.js'}"></script>
</footer>
