<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="${title}"></title>
<style>img.lazyload {opacity: 0; transition: opacity .5s ease-in-out;}body{font-family: 'ZouLDFXKAJ'}</style>
<link rel="stylesheet" th:href="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/font/result.css' : '/themes/theme-Ying/assets/font/result.css'}">
<link rel="stylesheet" th:href="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/css/main.css' : '/themes/theme-Ying/assets/css/main.css'}">
<link rel="stylesheet" th:href="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/css/nprogress.css' : '/themes/theme-Ying/assets/css/nprogress.css'}">
<link rel="stylesheet" th:href="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/css/normalize.css' : '/themes/theme-Ying/assets/css/normalize.css'}">
<link rel="stylesheet" th:href="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/css/remixicon.css' : '/themes/theme-Ying/assets/css/remixicon.css'}">
<link rel="stylesheet" th:href="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/css/hight/atom-one-dark.min.css' : '/themes/theme-Ying/assets/css/hight/atom-one-dark.min.css'}">
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/jquery.min.js' : '/themes/theme-Ying/assets/js/jquery.min.js'}"></script>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/pjax/pjax.min.js' : '/themes/theme-Ying/assets/js/pjax/pjax.min.js'}"></script>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/nprogress.js' : '/themes/theme-Ying/assets/js/nprogress.js'}"></script>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/toc.js' : '/themes/theme-Ying/assets/js/toc.js'}"defer></script>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/view-image.min.js' : '/themes/theme-Ying/assets/js/view-image.min.js'}" defer></script>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/hight/highlight.min.js' : '/themes/theme-Ying/assets/js/hight/highlight.min.js'}" defer></script>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/main.iife.js' : '/themes/theme-Ying/assets/js/main.iife.js'}" defer></script>
<script th:src="${theme.config.layout.header_cdn == 'cdn' ? theme.config.layout.header_cdn_link + '/js/lazy/jquery.lazyload.min.js' : '/themes/theme-Ying/assets/js/lazy/jquery.lazyload.min.js'}" defer></script>
</head>