<!DOCTYPE html>
<html th:replace="~{modules/layout :: html(title = '友链 - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="post-content uk-animation-fade" itemprop="articleBody">
        <article>
            <th:block th:each="group : ${groups}"
                      th:if="${#annotations.getOrDefault(group, 'hide','false') == 'false'}">
                <h2>[[${group.spec.displayName}]]</h2>
                <div class="links">
                    <div :key="i"
                         class="link-box"
                         th:each="link : ${group.links}"
                         th:if="${#annotations.getOrDefault(link, 'hide','false') == 'false'}">
                        <div class="link-img-box">
                            <img class="link-img"
                                 th:alt="${link.spec.displayName}"
                                 th:src="${link.spec.logo}"/>
                        </div>
                        <a class="link-img-a"
                           target="_blank"
                           th:href="${link.spec.url}">
                            <p th:text="${link.spec.displayName}"></p>
                            <p th:text="${link.spec.description}"></p>
                        </a>
                    </div>
                </div>
            </th:block>
        </article>
        <th:block th:replace="~{modules/comment :: comment(name=${pluginName},kind='Plugin',group='plugin.halo.run')}"></th:block>
    </div>
</th:block>
</html>
