<!DOCTYPE html>
<html th:replace="~{modules/layout :: html(title = ${title} + ' - ' + ${site.title}, hero = null, content = ~{::content}, head = null, footer = null,)}"
      xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="content">
    <div class="moment-content uk-animation-fade" itemprop="articleBody">
        <article><h2>动态</h2>
            <ul>
                <li th:each="tag : ${tags}">
                    <a th:classappend="${#lists.contains(param.tag, tag.name) ? 'active' : ''}"
                       th:href="|/moments?tag=${tag.name}|">
                        <span class="tag"
                              th:text="|#${tag.name} ${tag.momentCount}|">
                        </span>
                    </a>
                </li>
            </ul>
            <div>
                <ul class="moment-box" x-data="upvote('moment','moment.halo.run','moments')">
                    <li class="moment-list com-hr" th:attr="x-data=|{name:'${moment.metadata.name}',showComment:false}|" th:each="moment : ${moments.items}"
                        th:with="content=${moment.spec.content}">
                        <div class="user-header">
                            <div>
                                <span>
                                    <a th:href="@{${authorPage}}"
                                       th:with="authorPage=${#strings.append('/authors/',moment.owner?.name)}">
                                        <img class="avatar avatar-user"
                                             th:alt="|@${moment.owner?.name}|"
                                             th:src="${avatarUri}"
                                             th:srcset="|${thumbnail.gen(avatarUri, 's')} 400w|"
                                             th:with="defaultAvatar=${#theme.assets('/images/logo.png')}, avatarUri=${#strings.defaultString(moment.owner?.avatar, defaultAvatar)}"/>
                                    </a>
                                </span>
                                <a class="moment-user-name"
                                   th:href="@{${authorPage}}"
                                   th:text="${moment.owner?.displayName}"
                                   th:with="authorPage=${#strings.append('/authors/',moment.owner?.name)}">
                                </a>
                                <span>
                                    <relative-time class="moment-spec-time"
                                                   data-view-component="true"
                                                   tense="past"
                                                   th:text="${#temporals.format(moment.spec.releaseTime, 'MMMM dd, yyyy')}"
                                                   th:title="${#temporals.format(moment.spec.releaseTime, 'MMMM dd, yyyy')}">
                                    </relative-time>
                                </span>
                            </div>
                        </div>
                        <div class="moment-body">
                            <div class="moment-content-box">
                                <div class="momemt-content" th:utext="${moment.spec.content?.html}"></div>
                                <div th:with="medium=${moment.spec.content?.medium}">
                                    <div class="photo-img-box" th:if="${medium != null && #lists.size(medium) > 0}">
                                        <th:block th:each="media : ${medium}">
                                            <div class="p-in-box">
                                                <img alt="moment image"
                                                     class="p-in-img lazyload"
                                                     sizes="(max-width: 1600px) 100vw, 1600px"
                                                     src=""
                                                     srcset=""
                                                     th:data-src="${media?.url}"
                                                     th:data-srcset="|${thumbnail.gen(media?.url, 's')} 400w|"
                                                     th:if="${#strings.equals(media.type, 'PHOTO')}"/>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="operation">
                                <span @click="handleUpvote(name)"
                                      style="margin-left: 5px; cursor: pointer;"
                                      x-bind:class="{'text-red-700': upvoted(name)}">
                                    <span class="iconify">
                                        <svg height="1rem" style="color:#F44336" viewBox="0 0 24 24" width="1rem" x-show="upvoted(name)" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z" fill="currentColor"/>
                                        </svg>
                                        <svg height="1rem" viewBox="0 0 24 24" width="1rem" x-show="!upvoted(name)" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m12.1 18.55l-.1.1l-.11-.1C7.14 14.24 4 11.39 4 8.5C4 6.5 5.5 5 7.5 5c1.54 0 3.04 1 3.57 2.36h1.86C13.46 6 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5c0 2.89-3.14 5.74-7.9 10.05M16.5 3c-1.74 0-3.41.81-4.5 2.08C10.91 3.81 9.24 3 7.5 3C4.42 3 2 5.41 2 8.5c0 3.77 3.4 6.86 8.55 11.53L12 21.35l1.45-1.32C18.6 15.36 22 12.27 22 8.5C22 5.41 19.58 3 16.5 3Z" fill="currentColor"/>
                                        </svg>
                                    </span>
                                    <span class="ml-1" th:attr="data-upvote-moment-name=${moment.metadata.name}" th:text="${moment.stats.upvote}"></span></span>
                                <span style="margin-left: 5px; cursor: pointer;" x-on:click="showComment = !showComment">
                                        <span class="iconify">
                                        <svg height="1rem" viewBox="0 0 24 24" width="1rem" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 22a1 1 0 0 1-1-1v-3H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6.1l-3.7 3.71c-.2.19-.45.29-.7.29H9m1-6v3.08L13.08 16H20V4H4v12h6Z" fill="currentColor"/></svg>
                                        </span>
                                        <span th:text="${moment.stats.approvedComment}"></span>
                                    </span>
                                <div class="moment-comment mt-2"
                                     x-show="showComment">
                                    <halo:comment colorScheme="commentColorScheme"
                                                  group="moment.halo.run"
                                                  kind="Moment"
                                                  th:attr="name=${moment.metadata.name}"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div th:if="${moments.hasPrevious() || moments.hasNext()}">
                    <a th:href="@{${moments.prevUrl}}"><span>上一页</span></a>
                    <span th:text="${moments.page}"></span>
                    <a th:href="@{${moments.nextUrl}}"><span>下一页</span></a>
                </div>
            </div>
        </article>
    </div>
</th:block>
</html>
